@model LibraryManagement.Models.Entity.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container d-flex justify-content-center" id="logreg-forms" style="border-radius: .75rem">

    <div class="bg-white px-4 w-75 shadow" style="border-radius: .75rem">
        <h1 class="pt-2 d-flex justify-content-between align-items-center">
            @Model.Name
            <span>
                <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary text-white" asp-controller="Book" asp-action="dataEdit" asp-route-id="@Model.Id"><i class="bi bi-pencil"></i></a>
                <a style="margin-bottom:5px;" class="btn btn-sm btn-primary text-white" asp-action="Index"><i class="bi bi-arrow-left"></i></a>
            </span>
        </h1>
        <hr />
        <dl class="row">
            <!--Image-->
            <div class="col w-25">
                <div class="col w-50 largepic mx-auto d-block">
                    @{                        
                        var base64 = Convert.ToBase64String(Model.ImageContent);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <a asp-controller="Book" asp-action="imageEdit" asp-route-id="@Model.Id">
                        <img class="largepic__image" src="@imgSrc" style="float:middle" />
                        <div class="largepic__content">
                            <span class="largepic__icon"><i class="bi bi-pencil"></i></span>
                            <span class="largepic__text">Edit</span>
                        </div>
                    </a>
                </div>       
            </div>
            <!--Info-->
            <div class="col w-75">                
                <div class="row">
                    <dt class="col w-25">
                    @Html.DisplayNameFor(model => model.Author)
                    </dt>
                    <dd class="col w-25">
                        @Html.DisplayFor(model => model.Author)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.Pages)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.Pages)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.Year)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.ISBN)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.ISBN)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.ImageAlt)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.ImageAlt)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.Available)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.Available)
                    </dd>
                </div>             
            </div>              
        </dl>
        <dl class="row mb-7 px-2"> 
            <hr />
            @Html.DisplayFor(model => model.Description)
        </dl>
    </div>
</div>
