@model CompleteViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/index.css" />
}
<div class="container-fluid">
    <div class="card shadow border-0 mb-7">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Loan history
            <a class="btn btn-sm btn-outline-primary" asp-controller="Loan" asp-action="Create"><i class="bi bi-plus-circle"></i> Create loan</a>
        </h5>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>                        
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Time Remaining</th>
                        <th scope="col">Books</th>
                        <th scope="col">Quantity</th> 
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                @{int i = 0;}
                @foreach (var item in Model.Loans)
                {
                    <tr>
                        <td>
                            @{i++;}
                            @i
                        </td>
                        <td>
                            @{
                                var user = Model.Users.FirstOrDefault(u => u.Id == item.UserId);                                    
                            }
                                <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">@user.Username</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                                @{
                                    string time = "";
                                    if(item.Valid == true)
                                    {
                                        TimeSpan remaining = (DateTime.Now - item.CreatedOn.AddDays(7));
                                        time = remaining.Days.ToString().Replace("-", "") + " Days " + remaining.Hours.ToString().Replace("-", "") + " Hours";
                                    }                                    
                                }
                            @time
                        </td>                              
                        <td>
                            @Html.DisplayFor(modelItem => item.BookNames)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoanItems.Count)
                        </td>
                        <td>
                            @if (item.Valid == true)
                            {
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-success"></i>Valid
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-danger"></i>Expired
                                </span>
                            }                                
                        </td>
                        <td class="text-center">
                            <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary" asp-controller="Loan" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                            <a style="margin-bottom:5px;" class="btn btn-sm btn-primary" asp-controller="Loan" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info"></i></a>
                            <a style="margin-bottom:5px;" class="btn btn-sm btn-danger" asp-controller="Loan" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Found @Model.Loans.Count() results.</span>
        </div>
    </div>
</div>
