@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/index.css" />
}

    <!-- Import modal -->
    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Import" method="post" enctype="multipart/form-data" class="form-signup bg-white shadow" style="border-radius: .75rem">
                    <div class="modal-body">
                   
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="p-1 mb-2 bg-danger text-black">@ViewBag.ErrorMessage</div>
                        }

                        <div class="form-group">
                            <label asp-for="importData">Database data</label>
                            <input type="file" asp-for="importData" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".json">
                            <span asp-validation-for="importData" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <!-- Card stats -->
        <div class="row g-6">
            <!--Total Users-->
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Users</span>
                                <span class="h3 font-bold mb-0">@Model.completeVM.Users.Count</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                    <i class="bi bi-people"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Active Loans-->
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Active Loans</span>
                                @{
                                int active = 0;
                                foreach (var item in Model.completeVM.Loans)
                                {
                                    if (item.Valid)
                                    {
                                        active++;
                                    }
                                }
                            }
                            <span class="h3 font-bold mb-0">@active</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                <i class="bi bi-bookmarks"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Total Books-->
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total Books</span>
                            <span class="h3 font-bold mb-0">@Model.completeVM.Books.Count</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                <i class="bi bi-book"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Books out of stock-->
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Books out of stock</span>
                            @{
                                int stock = 0;
                                foreach (var item in Model.completeVM.Books)
                                {
                                    if (item.Available == 0)
                                    {
                                        stock++;
                                    }
                                }
                            }
                            <span class="h3 font-bold mb-0">@stock</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white text-lg rounded-circle">
                                <i class="bi bi-book"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Data import export-->
    <span class="d-flex my-4 justify-content-end text-center">
        <a style="margin-right:5px;" class="btn btn-sm btn-tertiary shadow" asp-controller="Dashboard" asp-action="Export">Export</a>
        <a style="color: white" class="btn btn-sm btn-info shadow" data-bs-toggle="modal" data-bs-target="#importModal">Import</a>
    </span>

    <!--Not Approved Users-->
    @if (Model.completeVM.Users.Any(u => u.Approved == false && u.Banned == false))
    {
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">Users waiting for approval</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0; }
                        @foreach (var item in Model.completeVM.Users)
                        {                            
                            @if (item.Approved == false && item.Banned == false)
                            {
                                <tr>
                                    <td>
                                        @{
                                            i++;
                                        }
                                        @i
                                    </td>
                                    <td>
                                        @{
                                            string name = item.Name + " " + item.Surname;
                                        }
                                        @name
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Street)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ZipCode)
                                    </td>
                                    <td>
                                        @if (item.Approved == true)
                                        {
                                            <span class="badge badge-lg badge-dot">
                                                <i class="bg-success"></i>Approved
                                            </span>
                                        }
                                        @if (item.Approved == false && item.Banned == false)
                                        {
                                            <span class="badge badge-lg badge-dot">
                                                <i class="bg-warning"></i>Not approved
                                            </span>
                                        }
                                        @if (item.Banned == true)
                                        {
                                            <span class="badge badge-lg badge-dot">
                                                <i class="bg-danger"></i>Banned
                                            </span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a style="margin-bottom:5px;" class="btn btn-success" asp-controller="User" asp-action="Approve" asp-route-id="@item.Id"><i class="bi bi-check2"></i></a>
                                        <a style="margin-bottom:5px;" class="btn btn-primary" asp-controller="User" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info"></i></a>
                                        <a style="margin-bottom:5px;" class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Found @i results.</span>
            </div>
        </div>
    }

    <!--Banned Users-->
    @if (Model.completeVM.Users.Any(u => u.Banned == true))
    {
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">Banned users</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">Zip Code</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.completeVM.Users)
                        {
                            @if (item.Approved == false && item.Banned == true)
                            {
                                <tr>
                                    <td>
                                        @{
                                            i++;
                                        }
                                        @i
                                    </td>
                                    <td>
                                        @{
                                            string name = item.Name + " " + item.Surname;
                                        }
                                        @name
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Street)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ZipCode)
                                    </td>
                                    <td>
                                        <span class="badge badge-lg badge-dot">
                                            <i class="bg-danger"></i>Banned
                                        </span>
                                    </td>
                                    <td class="text-center">                                        
                                        <a style="margin-bottom:5px;" class="btn btn-primary" asp-controller="User" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info"></i></a>
                                        <a style="margin-bottom:5px;" class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Found @i results.</span>
            </div>
        </div>
    }
    
    <!--Active loans-->
    @if (active > 0)
    {
        <div class="card shadow border-0 mb-7">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                Active Loans
            </h5>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Time Remaining</th>
                            <th scope="col">Books</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.completeVM.Loans)
                        {
                            if (item.Valid == false)
                            {
                                continue;
                            }
                            <tr>
                                <td>
                                    @{
                                        i++;
                                    }
                                    @i
                                </td>
                                <td>
                                    @{
                                        var user = Model.completeVM.Users.FirstOrDefault(u => u.Id == item.UserId);
                                    }
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">@user.Username</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>
                                <td>
                                    @{
                                        TimeSpan remaining = (DateTime.Now - item.CreatedOn.AddDays(7));
                                        string time = remaining.Days.ToString().Replace("-", "") + " Days " + remaining.Hours.ToString().Replace("-", "") + " Hours";
                                    }
                                    @time
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookNames)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LoanItems.Count)
                                </td>
                                <td class="text-center">
                                    <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary" asp-controller="Loan" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                                    <a style="margin-bottom:5px;" class="btn btn-sm btn-primary" asp-controller="Loan" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info"></i></a>
                                    <a style="margin-bottom:5px;" class="btn btn-sm btn-danger" asp-controller="Loan" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">                
                <span class="text-muted text-sm">Found @active results.</span>
            </div>
        </div>
    }
    <!--Books out of stock-->
    @if (stock > 0)
    {
        <div class="card shadow border-0 my-7">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                Books out of stock
            </h5>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th></th> <!--Image-->
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Pages</th>
                            <th scope="col">Year</th>
                            <th scope="col">Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.completeVM.Books)
                        {
                            if (item.Available == 0)
                            {
                                <tr>
                                    <td>
                                        @{
                                            var base64 = Convert.ToBase64String(item.ImageContent);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <div class="profilepic">
                                            <a asp-controller="Book" asp-action="imageEdit" asp-route-id="@item.Id">
                                                <img class="profilepic__image" src="@imgSrc" />
                                                <div class="profilepic__content">
                                                    <span class="profilepic__icon"><i class="bi bi-pencil"></i></span>
                                                    <span class="profilepic__text">Edit</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ISBN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pages)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td class="text-center">
                                        <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary" asp-controller="Book" asp-action="dataEdit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                                        <a style="margin-bottom:5px;" class="btn btn-sm btn-primary" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info"></i></a>
                                        @if (item.Available == item.Quantity)
                                        {
                                            <a style="margin-bottom:5px;" class="btn btn-sm btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                        }
                                        else
                                        {
                                            <a style="margin-bottom:5px;" class="btn btn-sm btn-danger disabled"><i class="bi bi-trash"></i></a>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">                
                <span class="text-muted text-sm">Found @stock results.</span>
            </div>
        </div>
    }
</div>