@model bookIndexViewModel

@{
    ViewData["Title"] = "Books";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/Index.css" />
}


<section class="mb-7">
    <!--Searchbar-->
    <form asp-controller="Home" asp-action="Search" method="get" class="card shadow border-0 mb-7 mx-auto w-50" style="border-radius: .75rem">
        <div class="row my-2 d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <input asp-for="SearchBook" type="text" class="form-control" placeholder="Search a book ...">
                <span asp-validation-for="SearchBook" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <button class="btn btn-tertiary btn-block"><i class="bi bi-search"></i></button>
                <a class="btn btn-block btn-secondary mx-2" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters" class="advanced">
                    <i class="bi bi-filter"></i>
                </a>
            </div>
        </div>
        <div class="row w-50 ms-18">
            <div class="collapse" id="filters">
                <div class="row py-2">
                    <div class="col-md-6">
                        <input asp-for="SearchAuthor" type="text" placeholder="Author" class="form-control w-100">
                        <span asp-validation-for="SearchAuthor" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="SearchYear" type="number" class="form-control w-100" placeholder="Year">
                        <span asp-validation-for="SearchYear" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card shadow bg-white mb-7" style="border-radius: .75rem">

        <!--Header and sorting-->
        <span style="display: inline-block" class="d-flex p-2 justify-content-between">
            <h2 class="align-self-end">Books in library</h2>
             
            <div class="dropdown align-self-end">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-controller="Home" asp-action="Sort" asp-route-filter="Name" asp-route-books=@Model>Name</a></li>
                <li><a class="dropdown-item" asp-action="Sort" asp-route-filter="Author" asp-route-books=@Model>Author</a> </li>
                <li><a class="dropdown-item" asp-action="Sort" asp-route-filter="Year" asp-route-books=@Model>Year</a></li>
              </ul>
            </div>
        </span>
        <hr class="mt-0" /> 
                
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 h-100 w-100 mt-0 mb-7" style="float:left">
            @foreach (var item in Model.Books)
            {
                string username = "noUser";
                if (User.Identity.Name != null)
                {
                    username = User.Identity.Name;  
                }
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-username="@username">
                    <div class="card card-text col m-2 bg-white shadow d-flex justify-content-center text-center" style="border-radius: .75rem">
                        <!-- Product image-->
                        <div class="card-img-top pt-2 justify-content-center">
                            @{
                                var base64 = Convert.ToBase64String(item.ImageContent);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                            <img class="w-50 card-img" src="@imgSrc" alt="item.ImageAlt" style="object-fit: contain;" />
                        </div>

                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="fw-bolder" style="font-size:1vw;">@Html.DisplayFor(modelItem => item.Name)</h5>
                                @Html.DisplayFor(modelItem => item.Author)
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>    
</section>


@section Scripts
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}