@model DetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center mb-7" id="logreg-forms" style="border-radius: .75rem">
    <div class="bg-white px-4 w-75 shadow" style="border-radius: .75rem">
        <h1 class="pt-2 d-flex justify-content-between align-items-center">
            @Model.book.Name            
        </h1>            
        <hr />
        <dl class="row">
            <!--Image-->
            <div class="col w-25">
                <div class="col w-50 largepic mx-auto d-block">
                    @{
                        var base64 = Convert.ToBase64String(Model.book.ImageContent);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    
                    <img src="@imgSrc" alt="Model.Name" />                      
                   
                </div>
            </div>
            <!--Info-->
            <div class="col w-75">
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.book.Author)
                    </dt>
                    <dd class="col w-25">
                        @Html.DisplayFor(model => model.book.Author)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.book.Pages)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.book.Pages)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.book.Year)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.book.Year)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.book.ISBN)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.book.ISBN)
                    </dd>
                </div>                
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.book.Quantity)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.book.Quantity)
                    </dd>
                </div>
                <div class="row">
                    <dt class="col w-25">
                        @Html.DisplayNameFor(model => model.book.Available)
                    </dt>
                    <dd class="col w-75">
                        @Html.DisplayFor(model => model.book.Available)
                    </dd>
                </div>
                <!--Buttons-->
                <div class="row mt-10 w-100">
                    @if (User.Identity.IsAuthenticated == true && User.IsInRole("Customer"))
                    {
                        if(Model.canBorrow)
                        {
                            if (Model.book.Available > 0)
                            {
                                // Display borrow button only if user is logged in and book is available
                                <a style="margin-bottom:5px;" class="btn btn-sm btn-primary text-white w-25 mx-auto d-block" asp-area="Customer" asp-controller="Customer" asp-action="CreateLoan" asp-route-bookId=@Model.book.Id asp-route-username=@User.Identity.Name><i class="bi bi-book me-2"></i>    Borrow</a>
                            }
                            else
                            {
                                // Book is out of stock
                                <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary disabled w-50 mx-auto d-block"><i class="bi bi-x-circle me-2"></i>    Out of stock</a>
                            }
                        }
                        else
                        {
                            // User already borrowed this book
                            <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary disabled w-50 mx-auto d-block"><i class="bi bi-x-circle me-2"></i>    Already borrowed</a>
                        }                                              
                    }
                </div>
            </div>
        </dl>
        <hr />
        <dl class="row mb-7 px-4 py-2">            
            @Html.DisplayFor(model => model.book.Description)
        </dl>
    </div>    
</div>