@model IEnumerable<LibraryManagement.Models.Entity.Book>

@{
    ViewData["Title"] = "Home";
}

@section Styles
    {

        <link rel="stylesheet" href="~/css/homepage.css" />

}

<section class="container py-5">
    @{
        int i = 0;
    }
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4  w-100 h-100 shadow bg-white" style="border-radius: .75rem">

        <div id="carouselExampleFade" class="carousel slide carousel-fade w-75 justify-content-center text-center" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                        
                        <div class="carousel-item pt-3 justify-content-center @active">
                            @{
                                var base64 = Convert.ToBase64String(item.ImageContent);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            }
                            <a asp-action="Details" asp-route-id="@item.Id">
                            <span style="display:inline-block" class="d-flex justify-content-center text-center">
                                <img src="@imgSrc" class="d-block w-25" style="margin:auto; width: 65vh; height: 35vh; object-fit: fill" alt="item.ImageAlt">
                                <div class="float-container">
                                    <div class="text-center">
                                        <h2 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h2>
                                        @Html.DisplayFor(modelItem => item.Author)
                                    </div>

                                    <div class="text-center">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </div>

                                </div>


                            </span>
                        </a>

                        </div>
                   
                }
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section>

<section class="container py-5">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4  w-75 h-100 shadow bg-white" style="border-radius: .75rem">
        @foreach (var item in Model)
        {
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="card col m-2 bg-white shadow d-flex justify-content-center text-center" style="border-radius: .75rem">
                        <!-- Product image-->
                        <div class="card-img-top pt-2 justify-content-center">
                        @{
                            var base64 = Convert.ToBase64String(item.ImageContent);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                            <img class="w-50" src="@imgSrc" alt="item.ImageAlt" />
                        </div>

                        <!-- Product details-->
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
                            @Html.DisplayFor(modelItem => item.Author)
                            </div>
                        </div>
                    </div>
                </a>
        }
    </div>

</section>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @{
                /*for (int i = 0; i < Model.Products.Count; i++)
                {
                <div class="card h-auto" style="margin:10px; padding:0px;">
                <!-- Product image-->
                <a class="btn mt-auto" style="padding:0px;" asp-controller="Product" asp-action="Detail" asp-route-ID="@Model.Products[i].ID">
                <img class="card-img-top" style="padding:0px;" src="@Model.Products[i].ImageSource" alt="@Model.Products[i].ImageAlt" />
                </a>
                <!-- Product details-->
                <div class="card-body p-2">
                <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder" style="text-wrap">@Model.Products[i].Name</h5>
                <!-- Product price-->
                @Model.Products[i].Price Kč vč. DPH
                </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" onclick="Buy(@Model.Products[i].ID,'@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "Customer" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name', '1')">Koupit</a></div>
                </div>

                </div>
                </div>
                }*/
            }

        </div>
    </div>
</section>

@section Scripts
    {

}



