@model IEnumerable<LibraryManagement.Models.Entity.Book>

@{
    ViewData["Title"] = "Home";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/homepage.css" />
}

<section class="mb-7">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 h-50 w-100 shadow bg-white" style="border-radius: .75rem">
        <div id="carouselHero" class="carousel slide carousel-fade h-50 w-100 justify-content-center text-center" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    int i = 0;

                    foreach (var item in Model)
                    {
                        i++;
                        var active = i == 1 ? "active" : "";
                        <div class="carousel-item p-4 justify-content-center @active">
                            @{
                                var base64 = Convert.ToBase64String(item.ImageContent);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            }
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <div class="row">
                                    <div class="col-4 mx-auto d-block">
                                        <img src="@imgSrc" class="w-50 img-responsive" style="border-radius: .25rem" alt="item.ImageAlt">
                                    </div>
                                    <div class="col-8">
                                        <div class="justify-content-start text-start w-100">
                                            <h2 class="mb-0">@Html.DisplayFor(modelItem => item.Name)</h2>
                                            <p class="mb-0">@Html.DisplayFor(modelItem => item.Author)</p>
                                        </div>

                                        <hr />
                                        <div class="text-start">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</section>
<section class="mb-7">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4  w-75 h-100 shadow bg-white" style="border-radius: .75rem">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card card-text col m-2 bg-white shadow d-flex justify-content-center text-center" style="border-radius: .75rem">
                    <!-- Product image-->
                    <div class="card-img-top pt-2 justify-content-center">
                        @{
                            var base64 = Convert.ToBase64String(item.ImageContent);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img class="w-50 card-img" src="@imgSrc" alt="item.ImageAlt" />
                    </div>

                    <!-- Product details-->
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="fw-bolder" style="font-size:1vw;">@Html.DisplayFor(modelItem => item.Name)</h5>
                            @Html.DisplayFor(modelItem => item.Author)
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</section>

<aside style="float:right">
    <div class="card">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
</aside>