@model UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
    {
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
}

    <div class="container-fluid" id="logreg-forms" style="border-radius: .75rem">
        <div class="row">
            <!--User Detail-->
            <div class="bg-white col mx-4 px-4 mb-7 w-50 shadow" style="border-radius: .75rem; max-height:40%;">
                <h1 class="pt-2 d-flex justify-content-between align-items-center">
                    Profile                    
                </h1>
                <hr />
                <dl class="row w-100">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Surname)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Surname)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.SSN)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SSN)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Street)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Street)
                    </dd>
                    <dt class="col-sm-4">
                        House Number
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.HouseNumber)
                    </dd>
                    <dt class="col-sm-4">
                        Zip Code
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        Status
                    </dt>
                    <dd class="col-sm-8">
                    @if (Model.Approved == true)
                    {
                        <span class="badge badge-lg badge-dot">
                            <i class="bg-success"></i>Approved
                        </span>
                    }
                    @if (Model.Approved == false && Model.Banned == false)
                    {
                        <span class="badge badge-lg badge-dot">
                            <i class="bg-warning"></i>Not approved
                        </span>
                    }
                    @if (Model.Banned == true)
                    {
                        <span class="badge badge-lg badge-dot">
                            <i class="bg-danger"></i>Banned
                        </span>
                    }
                </dd>
            </dl>
        </div>

        <!--Rented books-->
        <div class="col bg-white w-50 px-0 mb-7" style="border-radius: .75rem; max-height:450px;">
            <h1 class="row bg-white pt-2 mx-2 px-4 d-flex justify-content-between align-items-center" style="border-radius: .75rem;">
                Rented Books
            </h1>
            <hr />
            <div class="bg-white col w-100 shadow overflow-auto" data-simplebar style="border-radius: .75rem; max-height: 360px;">
                <div class="table-responsive w-100">
                    <table class="table table-hover table-responsive">
                        <tbody>
                            @foreach (var item in Model.RentedBooks)
                            {
                                <tr>
                                    <td>
                                        @{
                                            var base64 = Convert.ToBase64String(item.ImageContent);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        <div class="profilepic">                                            
                                            <img src="@imgSrc" />                                                                                       
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Author)
                                    </td>
                                    <td class="text-center">
                                        <a style="margin-bottom:5px;" class="btn btn-sm btn-success" asp-area="Customer" asp-controller="Customer" asp-action="ReturnBook" asp-route-userId="@Model.Id" asp-route-bookId="@item.Id"><i class="bi bi-journal-check"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Active loans-->
    <div class="card shadow border-0 mb-7">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Active Loans
        </h5>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Time Remaining</th>
                        <th scope="col">Name of the book</th>                                                
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model.Loans)
                    {
                        if (item.Valid == false)
                        {
                            continue;
                        }
                        <tr>
                            <td>
                                @{
                                    i++;
                                }
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @{
                                    TimeSpan remaining = (DateTime.Now - item.CreatedOn.AddDays(7));
                                    string time = remaining.Days.ToString().Replace("-", "") + " Days " + remaining.Hours.ToString().Replace("-", "") + " Hours";
                                }
                                @time
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookNames)
                            </td>                                                       
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Found @i results.</span>
        </div>
    </div>
    <!--Loan history-->
    <div class="card shadow border-0 mb-7">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Loan history
        </h5>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Name of the book</th>                                                
                    </tr>
                </thead>
                <tbody>
                    @{
                        int o = 0;
                    }
                    @foreach (var item in Model.Loans)
                    {                        
                        <tr>
                            <td>
                                @{
                                    o++;
                                }
                                @o
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookNames)
                            </td>                                                        
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Found @Model.Loans.Count() results.</span>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
}
