@model CustomerViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center" id="logreg-forms" style="border-radius: .75rem">   

    <div class="bg-white px-4 w-50" style="border-radius: .75rem">        
        <h1 class="pt-2 d-flex justify-content-between align-items-center">
            User profile
            <span>
                <!--User can edit profile only if approved-->
                @if(Model.Customer.Approved == true)
                {
                    <a style="margin-bottom:5px;" class="btn btn-sm btn-secondary text-white" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Customer.Id"><i class="bi bi-pencil"></i></a>
                }                                
            </span>            
        </h1>
        <hr />
        <dl class="row" style="width:500px">
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.Id)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.Id)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.Name)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.Name)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.Surname)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.Surname)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.SSN)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.SSN)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.City)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.City)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.Street)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.Street)
            </dd>
            <dt class = "col-sm-4">
                House Number
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.HouseNumber)
            </dd>
            <dt class = "col-sm-4">
                Zip Code
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.ZipCode)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.Username)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.Username)
            </dd>            
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Customer.Email)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>
            <dt class = "col-sm-4">
                Status
            </dt>
            <dd class = "col-sm-8">
                @if (Model.Customer.Approved == true)
                {
                    <span class="badge badge-lg badge-dot">
                        <i class="bg-success"></i>Approved
                    </span>
                }
                @if (Model.Customer.Approved == false && Model.Customer.Banned == false)
                {
                    <span class="badge badge-lg badge-dot">
                        <i class="bg-warning"></i>Not approved
                    </span>
                }
                @if (Model.Customer.Banned == true)
                {
                    <span class="badge badge-lg badge-dot">
                        <i class="bg-danger"></i>Banned
                    </span>
                }
            </dd>            
        </dl>        
    </div>
    <!--TODO: Add active loans-->
    <!--TODO: Add loan history-->
</div>
